html {
    background-color: blanchedalmond;
}

body {
    background-color: white;
    font-family: sans-serif;
    margin: 0 auto; 
	padding: .5em;
	border: 2px solid darkblue;
    width: 1100px;
    text-align: center;
}


#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style-type: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
    display: inline;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 139px;
	padding: .5em;
	text-decoration: underline;
	background-color:none;
    border: 1px solid blue;
	color: black;
}

footer p {
	font-size: 80%;
	text-align: center;
}
#nav_menu .current { 
    text-decoration: none;
}

@media only screen and (max-width: 959px) {
    body {
        display: column;
        width: 100%
    }
     #nav_menu {
        overflow: hidden;
        clear: none;
    }
    #nav_menu ul {
        margin: 0;
        padding: 0;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #nav_menu ul li {
        flex-basis: 20%; 
        font-size: 90%;
    }
    
    img {
        width: 20%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 90%;
        width: 90%;
    }
}

@media only screen and (max-width: 479px) {
    h1, h3 {
        font-size: 80%;
    }
}